
:root {
    --main-bg: #fbb6bd;
   --primary: #cc99ff;
   --primary-deep: #a750ff;
   --secondary-col: #99ffc7;
   --tertiary-col: #99b1ff;
   --text: #000;
   --inverse-col: #ffe0e0;
   --link: #5980ff;
   --link-bg: #26ff88;
}

* {
    padding: 0;
    margin: 0;
    font-family: monospace;
     /*   border: 1px dotted #fbb6bd; */
}

html {
}

body {
    /*  background-image: url('./assets/sacredheart-bg.png'); */
   background-color: var(--primary);
    background-position: 0 2vw;
    color: var(--text);
}

header {
    color: var(--link);
    background-color: var(--inverse-col); 
    border: 1px solid var(--link);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 2vh 1vw;
    box-shadow: 5px 5px var(--link);
}

/* ------- PARAGRAPH -------*/
p {
    background-color: var(--inverse-col);
    padding: 2vh 2vw;
    margin: 1vh 1vw;
    
    }
    
    /* ------- HEADERS ------- */
    h1, h2, h3 {
         padding: 1vh 1vw;
    }
    
    h2 {
        font-weight: 300;
    }
    
    h3 {
        text-align: center;
        padding: 2vh 2vw;
        background-color: var(--tertiary-col);
        border-bottom: 5px solid var(--link);
        border-right: 1px dotted var(--link);

    }
    
    /* ------- LINKS ------- */
    a {
        color: var(--link);
    }
    
    a:hover {
        background-color: var(--link-bg);
    }
    
    /* ------- LISTS ------- */
    ul {
    
    }
    
    li {
        list-style-type: none;
        padding: 0.5vh 0vw;
    }
    
/* ------- NAVBAR -------*/
nav {

}


/* ------- DIVS ------- */
.page-wrapper {
    margin: 10vh 10vw;
    border-radius: 16px;
}

.requirements, .benefits, .participation, .explanation, .preamble, .summary {
    border: none;
}

.requirements, .benefits, .participation, .explanation, .preamble, .summary p {
    background-color: var(--inverse-col);
    margin: 2vh 1vw;
    box-shadow: 5px 5px var(--link);
}

/* SECTION */
.summary {
margin: 2vh 1vw;
border-radius: 15px;
}

.intro {
    border-bottom-left-radius: 15px; 
}

div p:nth-last-child(1) {
    margin-bottom: 4vh;
    border-bottom: black;

}

/* ------- FOOTER -------*/
footer {
 background-color: none;
 padding: 2vh 1vw;
 margin: 2vh 2vw;
/* background-color: var(--tertiary-col); */
 text-align: center;
}

footer a {
    color: var(--link);
    font-size: 1.5rem;
    background-color: var(--inverse-col);
    padding: 2px 3px;
    text-decoration: none;
    border: 1px solid var(--link);
    box-shadow: 3px 3px;
    margin: 0 1vw;
}

footer a:hover {
    background-color: var(--inverse-col);
    color: var(--primary-deep);
    border: 1px solid var(--primary-deep);
}

/* -------SIDEBAR -------*/
.sidebar {
    padding: 1vh 1vw;
    background-color: var(--inverse-col);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


/*
header
nav
section
h1
h2
h3
div
p
a
li
ul
aside
abbr


.page-wrapper
    .intro
    .summary
    .preamble

.main
.supporting
    .explanation
    .participation
    .benefits
    .requirements

footer
    .zen-validate-html
    .zen-validate-css
    .zen-license
    .zen-accessibility
    .zen-github

aside 
    .sidebar
        .wrapper
            .design-selection
            h3
                .select
                nav
                    ul
                    li
                        .design-name
                        .designer-name

            .design-archives
            h3
                .archives
                nav
                    ul
                    li
                        .next
                            .indicator
                        .viewall

                        
    div
        .zen-resources
            h3
                .resources
                li
                .view-css
                    a
                    abbr
                .css-resources
                    abbr
                .zen-faq
                    a
                    abbr
                .zen-submit
                    a
                    abbr
                .zen-translations
                    a
                    abbr

*/